html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
}

/* <nav> */
nav{
    margin: 0;
    width: 100%;
    height: 44px;
    background-color: rgb(239, 239, 239);
    margin: 0;
  
  
}

nav > ul{
    list-style-type: none;
    font-size: 11px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    line-height: 44px;
    padding-left: 100px;
    padding-right: 100px;
}

.nav > li {
    padding: 0px 10px ;  }

/* 배너 */
.banner{
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    padding-bottom: 0;
   
}

.banner > p {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 75px;
    font-size: 13px;
    margin: 0;
    padding:0
   

}

.banner > p > span{
    color: rgb(0, 85, 255);    
}

main{
    width: 100%;
    background-color: rgb(239, 239, 239);
}

.section1 {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;    
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    padding: 50px 0 50px 0; 

}
.section1 > .left{
    display: flex;
    flex-direction: row;
    margin: auto ;
   

}

h1{
    font-size: 45px;   
    margin: 0;
    padding: 35px;
    color: rgb(107, 107, 107);
}

h1 > span{
    color: rgb(211, 0, 0);
}

.section1 > .right{
    display: flex;
    flex-direction: column;      
    text-align: left;
    margin: auto auto auto 70px;
    margin-right: auto; 
    position: relative;    
    width: fit-content;
}


.right > .up , .right > .down{
    display: flex;
    flex-direction: column;  
    

}
.right > .up {
    margin-bottom: 30px;
}

.up > p , .down > p{
    padding-bottom: 0;
    margin: 0;
    font-size: 15px;
}

.up > p:first-child, .down > p:first-child {   
    font-weight: 600;    
    padding-bottom: 5px;
}

.up > p:last-child, .down > p:last-child{
    color:rgb(0, 85, 255);     
}

