body{
    background-color: rgba(253, 243, 210, 0.439)
}

.container{
    background-color: antiquewhite;
    border-radius: 20px;  
    height: 170px;
}

.container > .left{
    display: inline-block;
    width: 20%;
    height: 170px;
    box-sizing: border-box; 
    border-radius:20px 0 0 20px;
   
    background-color: tan;
    text-align:center ;     
    overflow: scroll;    
}

.container > .right{
    display: inline-block;
    width: 80%;
    float: right; 
    height: 170px;
    box-sizing: border-box; 
    border-radius:20px;    
    margin-left: 0;
    text-align:left ;
    overflow: scroll;       
}

.left > h2{    
    font-size: 22px;
    margin-top: 15px;;
    padding-top: 0px;
    margin-bottom: 0;
}

.title1{
    margin-top: 5px;
    font-size: 11px;
    margin-bottom: 0;
}

ul{    
    padding:0;
    font-size: 11px;
    color: grey;
    list-style-type: none;
}

li{
    margin-bottom: 5px;
}

.right { 
    padding-left: 10px;;
}

.right > h2{    
    font-size: 23px;
    margin-bottom: 0;
    color: rgba(78, 24, 24, 0.836);
    
}

.title2 {
    margin-top: 5px;
    font-size: 11px;
}

.right-ul> li{
    font-size: 13px;
    padding-bottom: 3px;
    color: rgb(35, 34, 34);

}